.expo-card-item {
    border: 1px solid #aaa;
    border-radius: 10px;
    overflow: hidden;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    img {
        aspect-ratio: 2 / 1;
        width: 100%;
        @include media-md {
            aspect-ratio: 3 / 2;
        }
    }
    .card-content {
    height: 100%;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
        .card-title {
            color: $primary;
            .card-price {
                color: red;
                font-size: 20px;
            }
        }
        .card-txt {
            .icon-form {
                text-indent: -1.5rem;
                padding-left: 1.5rem;
            }
        }
        .card-btn {
            margin-top: auto;
            align-self: flex-end;
        }
    }
}

