.product-card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    a {
        img {
            // max-width: 200px;
            max-width: 100%;
            aspect-ratio: 3/2;
            // &:hover {
            //     border: .5rem solid transparent;
            //     transition-duration: .01s;
            // }
        }
    }
    .p-card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5vw;
            // position: relative;
        h6 {
            color: #000;
        }
        h6:nth-child(2) {
            color: red;
        }
        .p-add {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}