.home-card-item {
    display: flex;
    background: #ffe9e7;
    height: 300px;
    border: 1px solid transparent;
    border-radius: 10px;
    @include media-md {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .home-card-img {
        border: 1px solid transparent;
        border-radius: 10px 0 0 10px;
        overflow: hidden;
        width: 100%;
        height: 100%;
        @include media-md {
            border-radius: 10px 10px 0 0;
        }
        img {
            width: 100%;
            height: 300px;
        }
    }
}


.home-card-content {
    display: flex;
    padding: 1.5vw;
    gap: 2rem;
    .card-txt {
        display: flex;
        flex-direction: column;
        h4 {
            margin-bottom: 1vw;
            display: flex;
            align-items: center;
            gap: .5rem;
            color: $primary;
        }
        p {
            @include media-md {
                margin-bottom: 2rem;
            }
        }
        .card-btn {
            margin-top: auto;
        }
    }
    .card-side {
        display: flex;
        flex-direction: column;
        text-align: end;
    }
}



