.cart {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    .cart-nav {
        width: 65%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2vw;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            height: 4px;
            width: 100%;
            background-color: #000;
            top: 20%;
            z-index: -1;
        }
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1rem;
            flex-wrap: wrap;
            
            .nav-num {
                width: 30px;
                height: 30px;
                background-color: #000;
                color: #fff;
                border-radius: 50%;
            }
        }
    }
}

.cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    .start-shopping{
        a {
            span {
                color: #e34b54;
            }
        }
    }
}

.cart-all {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2vw;
    @include media-md {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cart-main {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        @include media-md {
            width: 100%;
        }
    }
    
}

.cart-detail {
    border: 1px solid #aaa;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    .cart-title {
        display: flex;
        justify-content: space-between;
        .btn-del-all {
            width: 7rem;
            flex: none;
            color: #fff;
        }
    }
}

.cart-title {
    background-color: #ddd;
    padding: 1rem;
}

.cart-coupon {
    border: 1px solid #aaa;
    border-radius: 5px;
    .cart-content {
        padding: 1rem;
    }
}

.cart-grand-total {
    flex: auto;
    border: 1px solid #aaa;
    border-radius: 5px;
    align-self: flex-start;
    @include media-md {
        flex: none;
        width: 100%;
        align-self: center;
    }
    .cart-content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 3vw;
        .sub-total {
            padding: .5rem 0;
            
        }
        .coupon {
            padding: .5rem 0;
        }
        .grand-total {
            padding: .5rem 0; 
        }
        .cart-btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2vw;
            button {
                width: 100%;
            }
        }
    }
}