.expo-nav {
    display: flex;
    gap: 1.5rem;
    border-bottom: 1px solid #aaa;
    margin-bottom: 4vw;
    line-height: 50px;
    @include media-md {
        justify-content: space-around;
    }
    h4 {
        cursor: pointer;
    }
    .underline {
        border-bottom: 4px solid red;
        color: red;
    }
}

.expo-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 3vw;
    @include media-lg {
        grid-template-columns: repeat(2, 1fr);
    }
    @include media-sm {
        grid-template-columns: repeat(1, 1fr);
        gap: 3vw;
    }
}